.Ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .ingredientsHeader {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 0.2px solid lightgray;
    .addIngredientButton {
      background-color: #91b648;
      color: white;
      border-radius: 10px;
      padding: 20px;
      text-decoration: none;
    }
  }
  .input {
    display: flex;
    align-items: center;
    p {
      color: #f58220;
      margin-right: 10px;
    }
    input {
      border-radius: 10px;
      border: 1px solid #f58220;
      padding-left: 5px;
      outline: none;
      color: #7a7a7a;
    }
  }
}
